@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");

.product_container {
  width: 100%;
  height: 100%;
  background-color: #f8fafa;
  padding-bottom: 50px;
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 10px;
}

.product-card {
  border: 1px solid #858585;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: auto;
  margin-left: 50px;
  margin-bottom: 30px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
  align-items: center;
}

.product-image img {
  width: 300px;
  height: auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.product-details {
  padding-top: 10px;
  text-align: left;
  margin-left: -15px;
  font-family: sans-serif;
}

.product-info {
  margin-bottom: 5px;
  color: #000000;
}

.label {
  /* font-weight: bold; */
  margin-right: 5px;
}

.edit-button {
  color: #2ecc71;
  background: #d5f7eb;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #1ca773;
  width: 70px;
  height: 30px;
  border-radius: 6px;
  margin-right: -70px;
  margin-left: 70px;
  margin-bottom: 10px;
}

.count_button {
  margin-left: 5px;
  align-items: right;
  color: #f7741d;
}
.count {
  color: #fd7b24;
}

.minus-button,
.plus-button {
  background-color: #d5f7eb;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  font-size: 23px;
  padding: 2px 6px;
  color: #1ca773;
  margin: 5px;
}
.minus-button {
  margin-left: 60px;
}
.plus-button {
  margin-left: 10px;
}
.minus-button:hover,
.plus-button:hover {
  border: 1px solid #169969;
}
